In [1]:
import pandas as pd

In [2]:
path = 'Resources/purchase_data.csv'

dfRaw = pd.read_csv(path)

In [3]:
dfRaw.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [10]:
playerCountData = {'Player Count': [len(dfRaw['SN'].value_counts())]}

dfPlayerCount = pd.DataFrame(playerCountData)

dfPlayerCount.head()

   Player Count
0           576

In [14]:
nUniqueItems = len(dfRaw['Item Name'].value_counts())
fAveragePrice = dfRaw['Price'].mean()
nNumPurchases = len(dfRaw.index)
nTotalRevenue = dfRaw['Price'].sum()

purchaseData = {'Unique Items': [nUniqueItems],
                'Average Price': [fAveragePrice],
                'Number of Purchases': [nNumPurchases],
                'Total Revanue': [nTotalRevenue]}
dfPurchaseData = pd.DataFrame(purchaseData)

dfPurchaseData['Average Price'] = dfPurchaseData['Average Price'].map("${:.2f}".format)
dfPurchaseData['Total Revanue'] = dfPurchaseData['Total Revanue'].map("${:,.2f}".format)

dfPurchaseData.head()

   Unique Items Average Price  Number of Purchases Total Revanue
0           179         $3.05                  780     $2,379.77

In [47]:
dfUniqueUsers = dfRaw.drop_duplicates(subset = "SN")

dfGenders = dfUniqueUsers['Gender'].value_counts()

nNumMale = dfUniqueUsers.query('Gender == "Male"').Gender.count()
nNumFemale = dfUniqueUsers.query('Gender == "Female"').Gender.count()
nNumOther = dfUniqueUsers.query('Gender != "Male" & Gender != "Female"').Gender.count()

nTotal = nNumMale + nNumFemale + nNumOther

genderData = {'Gender': dfGenders,
              'Percentage of Players': [(nNumMale/nTotal)*100, (nNumFemale/nTotal)*100, (nNumOther/nTotal)*100]}

dfGenderData = pd.DataFrame(genderData)

dfPurchaseData['Average Price'] = dfPurchaseData['Average Price'].map("${:.2f}".format)
dfGenderData['Percentage of Players'] = dfGenderData['Percentage of Players'].map("{:.2f}%").format)
dfGenderData.head()

                       Gender  Percentage of Players
Male                      484               0.840278
Female                     81               0.140625
Other / Non-Disclosed      11               0.019097