Observations:
While males dominate the player base (84%), the average spent per player is lower than the other gender groups by ~10%
The age group of 20-24 year olds represents a large percentage of players at ~45% and account for a proportionate 47% of revenue
Item price doesn't seem affect popularity/frequency of items being purchased. The average price for items sold was $3.05 while the top 5 most bought items averaged $4.03 in price.

In [1]:
import pandas as pd

In [2]:
path = 'Resources/purchase_data.csv'

dfRaw = pd.read_csv(path)

In [3]:
dfRaw.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
playerCountData = {'Player Count': [len(dfRaw['SN'].value_counts())]}

dfPlayerCount = pd.DataFrame(playerCountData)

dfPlayerCount.head()

   Player Count
0           576

In [5]:
nUniqueItems = len(dfRaw['Item Name'].value_counts())
fAveragePrice = dfRaw['Price'].mean()
nNumPurchases = len(dfRaw.index)
nTotalRevenue = dfRaw['Price'].sum()

purchaseData = {'Unique Items': [nUniqueItems],
                'Average Price': [fAveragePrice],
                'Number of Purchases': [nNumPurchases],
                'Total Revanue': [nTotalRevenue]}
dfPurchaseData = pd.DataFrame(purchaseData)

dfPurchaseData['Average Price'] = dfPurchaseData['Average Price'].map("${:,.2f}".format)
dfPurchaseData['Total Revanue'] = dfPurchaseData['Total Revanue'].map("${:,.2f}".format)

dfPurchaseData.head()

   Unique Items Average Price  Number of Purchases Total Revanue
0           179         $3.05                  780     $2,379.77

In [6]:
dfUniqueUsers = dfRaw.drop_duplicates(subset = "SN")

sGenders = dfUniqueUsers['Gender'].value_counts()

nUniqueTotal = len(dfUniqueUsers.index)

genderData = {'Total Count': sGenders,
              'Percentage of Players': sGenders / nUniqueTotal * 100}

dfGenderData = pd.DataFrame(genderData)

dfGenderData['Percentage of Players'] = dfGenderData['Percentage of Players'].map("{:.2f}%".format)
dfGenderData.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [7]:
gGender = dfRaw.groupby(['Gender'])

purchaseCount = gGender['Purchase ID'].count()
avgPrice = gGender['Price'].mean()
totalPurchase = gGender['Price'].sum()
avgPerPerson = totalPurchase / sGenders

genderPurchaseData = {'Purchase Count': purchaseCount,
                      'Average Purchase Price': avgPrice,
                      'Total Purchase Value': totalPurchase,
                      'Avg Total Per Person': avgPerPerson}

dfGenderPurchases = pd.DataFrame(genderPurchaseData)

dfGenderPurchases['Average Purchase Price'] = dfGenderPurchases['Average Purchase Price'].map("${:,.2f}".format)
dfGenderPurchases['Total Purchase Value'] = dfGenderPurchases['Total Purchase Value'].map("${:,.2f}".format)
dfGenderPurchases['Avg Total Per Person'] = dfGenderPurchases['Avg Total Per Person'].map("${:,.2f}".format)

dfGenderPurchases.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
binAge = [0, 10, 15, 20, 25, 30, 35, 40, 200]
binTitle =  ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

dfAgeGroups = dfUniqueUsers.copy()

dfAgeGroups['Age Group'] = pd.cut(dfAgeGroups['Age'], binAge, labels=binTitle, include_lowest = True, right = False)

sAgeTotals = dfAgeGroups['Age Group'].value_counts()

dfAgeRanges = pd.DataFrame({'Total Count': sAgeTotals,
                           'Percentage Of Players': sAgeTotals/nUniqueTotal * 100}, index = binTitle)

dfAgeRanges['Percentage Of Players'] = dfAgeRanges['Percentage Of Players'].map("{:,.2f}%".format)

dfAgeRanges.head(10)

       Total Count Percentage Of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [9]:
dfAgePurchase = dfRaw.copy()

dfAgePurchase['Age Groups'] = pd.cut(dfAgePurchase['Age'], binAge, labels = binTitle, include_lowest = True, right = False)

sAgePurchaseCount = dfAgePurchase['Age Groups'].value_counts()

gAgePurchase = dfAgePurchase.groupby(['Age Groups'])

fsAveragePrice = gAgePurchase['Price'].mean()
fsTotalPurchase = gAgePurchase['Price'].sum()
fsAvgPerPerson = fsTotalPurchase / sAgeTotals

dfAgePurchase = pd.DataFrame({'Purchase Count': sAgePurchaseCount,
                              'Average Purchase Price': fsAveragePrice,
                              'Total Purchase Value': fsTotalPurchase,
                              'Average Total Purchase Per Person': fsAvgPerPerson})

dfAgePurchase['Average Purchase Price'] = dfAgePurchase['Average Purchase Price'].map("${:,.2f}".format)
dfAgePurchase['Total Purchase Value'] = dfAgePurchase['Total Purchase Value'].map("${:,.2f}".format)
dfAgePurchase['Average Total Purchase Per Person'] = dfAgePurchase['Average Total Purchase Per Person'].map("${:,.2f}".format)

dfAgePurchase.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
gUserPurchase = dfRaw.groupby(['SN'])

sUserPurchaseCount = dfRaw['SN'].value_counts()

fsAveragePrice = gUserPurchase['Price'].mean()
fsTotalPurchase = gUserPurchase['Price'].sum()

dfUserPurchase = pd.DataFrame({'Purchase Count': sUserPurchaseCount,
                              'Average Purchase Price': fsAveragePrice,
                              'Total Purchase Value': fsTotalPurchase})

dfUserPurchase = dfUserPurchase.sort_values(['Total Purchase Value'], ascending = False)

dfUserPurchase['Average Purchase Price'] = dfUserPurchase['Average Purchase Price'].map("${:,.2f}".format)
dfUserPurchase['Total Purchase Value'] = dfUserPurchase['Total Purchase Value'].map("${:,.2f}".format)

dfUserPurchase.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [20]:
gItemPurchase = dfRaw.groupby(['Item ID', 'Item Name'])

sItemPurchaseCount = gItemPurchase.size()

fsItemPrice = gItemPurchase['Price'].mean()
fsTotalPurchase = gItemPurchase['Price'].sum()

dfItemPurchase = pd.DataFrame({'Purchase Count': sItemPurchaseCount,
                              'Item Price': fsItemPrice,
                              'Total Purchase Value': fsTotalPurchase})

dfItemPurchaseDisplay = dfItemPurchase.sort_values(['Purchase Count'], ascending = False)

dfItemPurchaseDisplay['Item Price'] = dfItemPurchaseDisplay['Item Price'].map("${:,.2f}".format)
dfItemPurchaseDisplay['Total Purchase Value'] = dfItemPurchaseDisplay['Total Purchase Value'].map("${:,.2f}".format)

dfItemPurchaseDisplay.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [213]:
dfSorted = dfItemPurchase.copy()
dfSorted = dfSorted.sort_values(['Total Purchase Value'], ascending = False)

dfSorted['Item Price'] = dfSorted['Item Price'].map("${:,.2f}".format)
dfSorted['Total Purchase Value'] = dfSorted['Total Purchase Value'].map("${:,.2f}".format)

dfSorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80